<html>

<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
           
            function getUrlParameter(url, name) {
                name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                var results = regex.exec(url);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            }
            function callAPI(apiUrl, raw, headersSent, callback) {

                // Convert the data object to a JSON string
                var jsonData = JSON.stringify(raw);

                // Make the POST request using jQuery
                $.ajax({
                    type: 'POST',
                    url: apiUrl,
                    data: raw,
                    headers: headersSent,
                    mode: 'no-cors',
                    contentType: 'application/json',
                    dataType: 'text',
                    success: function (response) {
                        console.log('done call got response');
                        callback(response); // Call the callback function with the response data
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);
                        console.error('error', jqXHR);
                        // You can handle error cases here
                    }
                });
            }


            var url = window.location.href;
            var loadID = getUrlParameter(url, 'loadID');

            var loadCreationRequestBody = {
                "ID": loadID
            }
            var raw = JSON.stringify(loadCreationRequestBody);
            callAPI('./../utils/getCreation.php', raw, {}, function (response) {
                console.log(JSON.parse(response));
                sessionStorage.setItem('connectionConfig', JSON.parse(response).ConnectionSettings);
                sessionStorage.setItem('settingconfig', JSON.parse(response).Features);
               window.location.href = 'type.html';
            });

        });
    </script>

</head>

</html>