
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adyen Experience</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="./../styles/type.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="./../js/type.js"></script>
  
    
</head>
<body>
    <header>
        <div class="adyen-logo-div">
            <!-- Adyen Logo -->
            <img src="./../images/adyen-logo.svg" alt="Adyen Logo" width="100">
        </div>
        <div class="right-header">
            <div class="title-div">
                <h1>Welcome To The Adyen Experience</h1>
                </div>
                
            </div>
            
        </div>
    </header>

    <main>
        <div class="main">
        <div class="clickable-div ecom">
           
            <h2>ONLINE</h2>
            <img src="./../images/online.svg" alt="ECOM Icon">
        </div>
        <div class="clickable-div pos">
            
            <h2>IN PERSON</h2>
            <img src="./../images/instore.svg" alt="POS Icon">
        </div>
        <div class="clickable-div hotel">
            
            <h2>HOSPITALITY</h2>
            <img src="./../images/hotels.svg" alt="hotel Icon">
        </div>
    </div>

    </main>

    

    <footer>
        <p>&copy; 2023 Your E-commerce Store</p>
    </footer>
</body>
</html>
