/* styles.css */
.hide {display:none !important;}
/* Your CSS styles here */
.adyen-logo-div{
    padding-left: 1%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbfb;
}
.right-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
header {
    background-color: #041f4a;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

header h1 {
    margin: 0;
}

.logo-container {
    width: 20%;
    text-align: left; /* Align the logo to the left */
}

.logo-container img {
    max-width: 100%;
}
.nav-div {margin-top: 40px;}
.title-div {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a,
nav ul li select {
    text-decoration: none !important;
    color: #fff;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #041f4a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the country select container */
.country-select-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Style the country flag */
#selected-country-flag {
    display: inline-block;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    max-width: 70%;
    height: auto;
    margin: 10px 0;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 14px;
    margin: 10px 0;
}

.product button,.tokenize-card-btn {
    background-color: #041f4a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #041f4a;
    color: #fff;
    padding: 10px 0;
}

 /* Styling for the popup container */
 .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    height: 400px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

/* Styling for the overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

/* Close button style */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup-content {
    text-align: center;
}

.popup-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.spinner-border {
    margin-bottom: 10px;
}

.loading-text {
    font-weight: bold;
}

.shopperDetails {
    margin-top: 20px;
}

.shopperName {
    font-weight: bold;
}

.loyaltyPoints {
    font-weight: bold;
}

@media screen and (min-height:932px) {
    footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    
}
